**/.vs
**/.DS_Store
**/.git
**/.svn
**/CVS
.DS_Store
._.DS_Store
*.suo
*.ipch
*.psess
*.vspx
*.aps
browse.vc.db
solution.vc.db*
*.vc.db
*.depend
*.layout
*.gch
*.pch
*.expand_fileset
*.expand_fileset.spa
Thumbs.db
_matter.zip


# Ignore NuGet Packages
*.nupkg

# The packages folder can be ignored because of Package Restore
**/[Pp]ackages/*

# except build/, which is used as an MSBuild target.
!**/[Pp]ackages/build/

# Uncomment if necessary however generally it will be regenerated when needed
#!**/[Pp]ackages/repositories.config

# NuGet v3's project.json files produces more ignorable files
*.nuget.props
*.nuget.targets

# Ignore other intermediate files that NuGet might create. project.lock.json is used in conjunction
# with project.json (NuGet v3); project.assets.json is used in conjunction with the PackageReference
# format (NuGet v4 and .NET Core).
project.lock.json
project.assets.json

_packages.txt
application_build_helper_input.txt
application_build_helper_output.txt
matter_output.txt

