#include "resource.h"

IDI_STORE_CA2_SPA   ICON                    "ca2v_2011_04_02.ico"
ID_MP3_SMALL_BELL       MP3                     "small_bell.mp3"
1984                    SPA                    "mplite.txt"